{% extends 'base.html' %}

{% load static %}

{% block title %}Анкеты{% endblock %}

{% block content %}
{% if user.is_authenticated and user.dating_profile %}
    <a href="{% url 'profile_edit' pk=user.dating_profile.pk %}"></a>
{% else %}
<div class="container fade-in">
    <br><h1 class="auth-title">Создать анкету:</h1><br>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="form-field">
            Имя в анкете:
            {{ form.name }}
        </div>
        
        <div class="form-field">
            О себе:
            {{ form.bio }}
        </div>
        
        <div class="form-field">
            Изображение:
            <label for="id_image" class="custom-file-button" id="file-button">Выберите файл</label>
            {{ form.image }}
        </div>
        
        <div class="form-field">
            Дата рождения:
            {{ form.date_birth }}
        </div>
        
        <div class="form-field">
            <label for="interests">Интересы:</label>
            <div class="interests">
                {% for interest in form.fields.interests.queryset %}
                    <input type="checkbox" id="interest-{{ interest.id }}" name="interests" value="{{ interest.id }}" style="display:none;">
                    <div class="interest-item" data-id="{{ interest.id }}">
                        <img src="{{ interest.icon.url }}" alt="{{ interest.title }}">
                    </div>
                {% endfor %}
            </div>
        </div>
    
        <button type="submit">Сохранить</button>
    </form>
</div>
{% endif %}

{% endblock %}
